.charts-container{

display:grid;

grid-template-columns:1fr 1fr;

gap:30px;

margin-top:40px;

}



.chart-card{

background:#0f172a;

padding:25px;

border-radius:20px;

height:400px;

}



.chart-card h2{

color:#38bdf8;

margin-bottom:20px;

}



@media(max-width:900px){

.charts-container{

grid-template-columns:1fr;

}

}