.history-container{

color:white;

}


.history-container h1{

display:flex;

align-items:center;

gap:15px;

color:#38bdf8;

}



table{

width:100%;

margin-top:30px;

background:#0f172a;

border-radius:15px;

overflow:hidden;

}



th{

background:#1e293b;

color:#38bdf8;

padding:15px;

}



td{

padding:15px;

border-bottom:1px solid #334155;

}



.danger-text{

color:#ef4444;

}



.safe-text{

color:#22c55e;

}